<mat-card>
	<mat-nav-list>
		<!-- <a mat-list-item class='clickable' routerLink="/overview" routerLinkActive="is-active">
		  home
		</a> -->
		<a mat-list-item class='clickable' routerLink="/blog" routerLinkActive="is-active">
		  blog
		</a>
		<a mat-list-item class='clickable' routerLink="/about" routerLinkActive="is-active">
		  projects
		</a>
		<a mat-list-item class='clickable' routerLink="/about" routerLinkActive="is-active">
			about me
		</a>
		<a mat-list-item class='clickable' routerLink="/about" routerLinkActive="is-active">
		  imprint
		</a>
	</mat-nav-list>
</mat-card>