.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-response {
    color: darkred;
    font-style: italic;
}

.comment-section {
    margin-top: 20px;
}

.comment-entry {
    margin: 10px 0px;
}

