<div class='content-card' *ngIf="blogService.snippets">
	<mat-card class='blog-snippet' *ngFor="let snippet of blogService.snippets.slice().reverse()">
		<mat-card-header>
			<mat-card-title>{{snippet.title}}</mat-card-title>
			<mat-card-subtitle>{{snippet.timestamp | date: 'short'}} - {{snippet.topic}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<markdown [data]="snippet.abstract" lineNumbers ngPreserveWhitespaces katex></markdown>
		</mat-card-content>
		<mat-card-actions align="end">
			<button mat-button (click)='openBlogPost(snippet.id)'>READ FULL STORY</button>
		</mat-card-actions>

	</mat-card>
</div>